.product-search {
  .info-search {
    // align-items: center;
  }
  .style-col-3 {
    .ant-input {
      background-color: #fff !important;
    }
  }

  .select-option {
    .ant-select-selection-item {
      font-weight: 700 !important;
      color: rgba(0, 0, 0, 0.85);
    }
    .ant-select-selector {
      padding: 0 11px 0 0 !important;
    }
  }

  .ant-table-column-sorter, .ant-table-column-sorter-full {
    display: none;
  }
}

.style-sort {
  p {
    cursor: pointer;
    &:hover {
      font-weight: 600;
    }
  }
}




@media (min-width: 768px) {
  .product-search {
    .info-search {
      .style-col-1 {
        .ant-btn:first-child {
          margin-right: 1rem;
        }
      }
      .date-picker {
        .ant-btn {
          margin-left: 1rem;
        }
      }
      .style-col-3 {
        .ant-btn {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .product-search {
    .info-search {
      margin-bottom: 6.5rem !important;
      .style-col-1, .date-picker {
        margin-bottom: .5rem;
      }
      .style-col-1 {
        .ant-btn:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
}


.wraper-actions{
  display: flex !important;
  justify-content: space-between;
}

.filter-date .ant-picker{
  border-radius: 6px;
  background-color: #F3F3F9;
}