.product-search {
  .info-search {
    max-width: 1700px;
    width: 90vw;
    height: 76px;
    // align-items: center;
  }
  .style-col-3 {
    .ant-input {
      background-color: #fff !important;
    }
  }
}

@media (min-width: 768px) {
  .product-search {
    .info-search {
      .style-col-1 {
        .ant-btn:first-child {
          margin-right: 1rem;
        }
      }
      .date-picker {
        .ant-btn {
          margin-left: 1rem;
        }
      }
      .style-col-3 {
        .ant-btn {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .product-search {
    .info-search {
      margin-bottom: 6.5rem !important;
      .style-col-1, .date-picker {
        margin-bottom: .5rem;
      }
      .style-col-1 {
        .ant-btn:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
}
