.product-search {
  .info-search {
    max-width: 1700px;
    width: 90vw;
    height: 76px;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1440px) { 
  .product-search {
    .info-search {
      .style-col-3 {
        .ant-input {
          margin-left: 0 !important;
        }
        .date-picker {
        }
      }
    }
  }
}

@media (min-width: 1200px){ 
  .product-search {
    .info-search {
      .date-picker {
        margin-left: 100px;
      }
      .style-col-3 {
        margin-left: 60px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .product-search {
    .info-search {
      .style-col-1 {
        margin-bottom: 0.5rem;
      }
      .date-picker {
        margin-bottom: 0.5rem;
      }
    }
  }
}






