.ant-input{
    background-color: #DDDDDD !important;
}

.verified{
    display: flex;
    width: 100%;
}

.ant-form-item{
    margin-bottom: 6px !important;


}
.submit{
    width: 80% !important;
}



@media (max-width: 767px) {
    .submit{
        width: auto;
    }
}