.signup {
    .ant-input{
        background-color: transparent !important;
        border-color: #A6B0CF !important;
    }

    .ant-input-affix-wrapper {
        border-color: #A6B0CF !important;
    }

    /* Phone Input */
    .PhoneInputInput:focus {
        outline: none;
    }

    #inputID::placeholder {
        color: #bfbfbf;
    }

    #inputID {
        border: none
    }

    .PhoneInputCountry {
        display: none;
    }

    .ant-form-item{
        margin-bottom: 2px !important;
    }
    .submit{
        width: 80% !important;
    }

    .logo {
        font-weight: 700;
        font-size: 26px;
        color: #42ABBC;
    }

    .background-color {
        background-color: #fff;
        padding: 2rem !important;
        border-radius: 8px;
        box-shadow: 0px 0px 12px 0px #80808036;
    }
    
    .send-sms {
        span {
            color: #42ABBC;
            font-weight: bold;
        }
        &:hover {
            background: transparent;
        }
    }

    .agreement {
        p {
            font-weight: 400;
            font-size: 14px;
            color: #4c4c4c;
        }
    }
    .btn-forgot-password {
        padding: 0;
        span {
            color: #42ABBC;
            font-weight: 500;
            font-size: 12px;
        }
    }
    .custom-file-upload {
        border: 1px solid #3F537D;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #3F537D;
        color: #fff;
        border-radius: 4px;
    }
}

@media (max-width: 767px) {
    .submit{
        width: auto;
    }
}

@media(max-width: 370px) {
    .signup {
        .PhoneInput {
            width: 110px !important;
        }
        .send-sms {
            font-size: 10px !important;
            text-align: center !important;
        }
    }
}

@media(min-width: 1200px) {
    .signup {
        .send-sms {
            text-align: end !important;
        }
    }
}