.category-analysis {
    .aggregate-month {
        margin-top: 24px;
        padding: 1rem;
        border-radius: 16px;
        h1 {
          font-size: 16px;
          font-weight: 700;
          color: #222;
          margin-bottom: 0;
        }
    }

    .ant-picker.ant-picker-borderless {
        margin-right: 8px;
        height: 33px;
        width: 316px;
        background-color: #F3F3F9 !important;
    }

    .ant-picker-range .ant-picker-active-bar {
        background: #A6B0CF;
    }
}