.category-analysis {
  .aggregate-month {
    margin-top: 24px;
    h1 {
      font-size: 16px;
      font-weight: 700;
      color: #222;
      margin-bottom: 0;
    }
    .ant-select-selector {
      background-color: #EFF2F7 !important;
      border: 1px solid #ced4da !important;
    }
    .ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input) .ant-select-selector, .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
      border-color: #ced4da;
    }
    
    .ant-select-dropdown {
      background-color: #EFF2F7 !important;
    }
  }

  .ant-picker.ant-picker-borderless {
    margin-right: 8px;
    height: 33px;
    background-color: #f3f3f9 !important;
  }

  .ant-picker-range .ant-picker-active-bar {
    background: #a6b0cf;
  }

  .ul-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif !important;
    .list-in {
      list-style: none;
    }
  }

  .highcharts-title {
    font-size: 20px !important;
    font-weight: 700;
    color: #495057 !important;
  }

  .highcharts-container {
    border-radius: 10px;
  }

  .style-market {
    margin-left: 8px;
    font-weight: 500;
    color: #495057;
    font-size: 14px;
  }

  .style-border {
    border: 1px solid #eff2f7;
    padding: 0.5rem;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: -2px;
      width: 2px;
      height: 130px;
      background-color: #eff2f7;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: -2px;
      width: 2px;
      height: 130px;
      background-color: #eff2f7;
    }
  }
}

.ant-select-dropdown {
  background-color: #fff !important;
  border: 1px solid #CED4DA;
  border-radius: 10px !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #EFF2F7 !important;
} 

.ant-select-item   {
  &:hover {
    background-color: blue;
  }
}

@media (max-width: 479px) {
  .category-analysis {
    .style-small-device {
      margin-top: 0.5rem;
    }
  }
  .aggregate-month {
    .ant-btn {
      margin-top: 0.5rem;
    }
  }
}
