// /* Home-Page */
.home-page {
  height: auto;
  .aggregate-month {
    margin-top: 24px;
    padding: 1rem;
    border-radius: 16px;
    h1 {
      font-size: 16px;
      font-weight: 700;
      color: #222;
      margin-bottom: 0;
    }
   }
  

  .site-card-wrapper {
    margin-top: 30px;
    .edit-margin {
      margin: 10px 0;
    }
    .ant-card {
      border-radius: 10px !important;
    }
    .ant-row {
      .ant-col {
        &:nth-child(n) {
          border-radius: 10px;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif;
        }
        .ul-list {
          li:first-child {
            font-size: 20px;
          }
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0;
          font-family: 'Open Sans', sans-serif !important;
        }
      }
    }
    .ant-card-head-title {
      font-weight: 700;
      font-size: 20px;
      color: #495057;
    }
  }
  
  .ant-picker.ant-picker-borderless {
    margin-right: 8px;
    height: 33px;
    width: 140px;
    background-color: #F3F3F9 !important;
  }

  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
}

@media (max-width: 576px) {
  .home-page {
    h1 {
      font-size: 20px;
    }
    // .ant-row {
    //   .ant-col {
    //     .ul-list {
    //       flex-direction: column;
    //       text-align: center;
    //     }
    //   }
    // }
  }
}

@media (max-width: 575.98px) { 
  .home-page {
    .aggregate-month {
      > div {
        margin-bottom: 0.5rem;
      }
      .date-picker {
        .ant-space {
          margin-bottom: 0.5rem;
        }
      } 
    }
    .style-small-device {
      margin-top: .5rem;
    }
  }
}

@media (max-width: 767.98px) { 
  .home-page {
    .site-card-wrapper {
      .style-small-device {
        margin-bottom: 2rem;
      }
    }
  }
 }


