// /* Home-Page */
.home-page {
  height: auto;

  .style-click-btn {
    .ant-radio-button-wrapper-checked {
      border-color: #42ABBC !important;
      color: white !important;
      background-color: #42ABBC !important;
    }
    .ant-radio-button-wrapper {
      color: #A6B0CF;
      border: 1px solid #A6B0CF;
      // border-radius: 10px;
        &:hover {
            color: #A6B0CF;
        }
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
      background-color: transparent;
    }
  }

  .aggregate-month {
    margin-top: 24px;
    margin-left: 30px;
    background-color: #fff;
    width: 95vw;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0px 0px 7px 1px #0000000d;
    h1 {
      font-size: 16px;
      font-weight: 700;
      color: #222;
      margin-bottom: 0;
    }
   }
  

  .site-card-wrapper {
    padding: 30px;
    width: 100vw;
    .edit-margin {
      margin: 10px 0;
    }
    .ant-card-head-title {
      font-weight: 700;
      font-size: 20px;
    }
    .ant-card {
      border-radius: 10px !important;
    }
    .ant-row {
      .ant-col {
        &:nth-child(n) {
          border-radius: 10px;
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif;
        }
        .ul-list {
          li:first-child {
            font-size: 20px;
          }
          list-style: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0;
          font-family: 'Open Sans', sans-serif !important;
          .list-in {
            list-style: none;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .home-page {
    h1 {
      font-size: 20px;
    }
    .aggregate-month {
      width: 80vw;
      h1 {
        font-size: 12px;
      }
    }
    .ant-row {
      .ant-col {
        .ul-list {
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .home-page {
    .first {
      position: relative;
      left: -17rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .home-page {
    .first {
      text-align: center;
    }
    .aggregate-month {
      width: 80vw;
    }
  }
}

@media (max-width: 575.98px) { 
  .home-page {
    .aggregate-month {
      > div {
        margin-bottom: 0.5rem;
      }
      .date-picker {
        .ant-space {
          margin-bottom: 0.5rem;
        }
      } 
    }
  }
}

@media (max-width: 767.98px) { 
  .home-page {
    .site-card-wrapper {
      .style-small-device {
        margin-bottom: 2rem;
      }
    }
  }
 }
