// /* Home-Page */
.home-page {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1.first {
    color: #71c4d5;
    font-size: 40px;
    font-weight: 800;
    small {
      font-size: 16px;
      font-weight: 400;
      color: #d2d2d2;
    }
  }
  .aggregate-month {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1194px;
    height: auto;
    background: #fff;
    box-shadow: -2px -1px 14px 5px #9e9e9e2b;
    border-radius: 16px;
    padding: 1rem;
    h1 {
      font-size: 16px;
      font-weight: 700;
      color: #222;
      margin-right: 40px;
      margin-bottom: 0;
    }
  }
  .ant-row {
    .ant-col {
      &:nth-child(n) {
        border-radius: 10px;
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
      }
      .ul-list {
        li:first-child {
          font-size: 20px;
        }
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        font-family: 'Open Sans', sans-serif !important;
        .list-in {
          list-style: none;
        }
      }
    }
  }

  .site-card-wrapper {
    padding: 30px;
    width: 100%;
    max-width: 1194px;
    .edit-margin {
      margin: 10px 0;
    }
    .ant-card-head-title {
      font-weight: 700;
      font-size: 20px;
    }
  }
}

@media (max-width: 576px) {
  .home-page {
    h1 {
      font-size: 20px;
    }
    .aggregate-month {
      width: 80vw;
      h1 {
        font-size: 12px;
      }
    }
    .ant-row {
      .ant-col {
        .ul-list {
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .home-page {
    .first {
      position: relative;
      left: -17rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .home-page {
    .first {
      text-align: center;
    }
    .aggregate-month {
      width: 80vw;
    }
  }
}

@media (max-width: 575.98px) { 
  .home-page {
    .aggregate-month {
      > div {
        margin-bottom: 0.5rem;
      }
      .date-picker {
        .ant-space {
          margin-bottom: 0.5rem;
        }
      } 
    }
  }
}

@media (max-width: 767.98px) { 
  .home-page {
    .site-card-wrapper {
      .style-small-device {
        margin-bottom: 2rem;
      }
    }
  }
 }
