.admin-layout {
    .ant-dropdown-trigger {
        &:hover {
            background-color: #F2F3F4 !important;
        }
    }
    .ant-dropdown-menu {
        border-radius: 10px;
        width: 153px;
        height: 9px;
        .ant-dropdown-menu-item {
            &:hover {
                background-color: none;
            }
        }
    }
    .ant-badge-count {
        margin-top: 20px;
    }
    .ant-badge {
        margin-left: 12px;
    }
    .ant-dropdown-trigger {
        overflow: hidden;
    }
}