.member-detail {
    .style-positon {
        display: flex;
        justify-content: space-between;
    }
    .ant-list-bordered {
        border: 1px solid gray !important;
    }
}

@media (min-width: 992px) {
    .member-detail {
        .set-width {
            width: 500px;
        }
    }
}