@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif !important;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: auto;
  padding: 0 2.4rem;
}


.admin-layout {
  height: 100%;
}
.admin-layout .ant-dropdown-trigger {
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.admin-layout .ant-dropdown-trigger:hover {
  background-color: #e6f7ff;
}
.user-avatar {
  margin-right: 10px;
}
.admin-layout .ant-layout-header {
  position: relative;
  padding-right: 15px !important;
}
.admin-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.admin-layout .trigger:hover {
  color: #1890ff;
}

.app-menu-item {
  display: flex;
  align-items: center;
}
.login-layout-container {
  background: #f0f2f5;
  background-image: url('./images/bg-login.svg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 110px 0 144px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-layout-container form {
  width: 368px;
}
.login-layout-container .btn-login {
  width: 100%;
}
.login-layout-container .form-register {
  width: 600px;
}
.admin-layout .logo {
  padding-left: 10px;
  padding-right: 10px;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}
.sidebar-left-menu .ant-menu .ant-menu-item a {
  font-size: 14px;
}

.admin-layout .logo img {
  width: inherit;
}
